@model List<Item>
@inject Config config

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>IOT Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <!-- Bootstrap 3.3.7 -->
    <link
      rel="stylesheet"
      href="~/bower_components/bootstrap/dist/css/bootstrap.min.css"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="~/bower_components/font-awesome/css/font-awesome.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="~/bower_components/Ionicons/css/ionicons.min.css"
    />
    <!-- DataTables -->
    <link
      rel="stylesheet"
      href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css"
    />
    <!-- daterange picker -->
    <link
      rel="stylesheet"
      href="~/bower_components/bootstrap-daterangepicker/daterangepicker.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
    />
    <style>
        .cl-r{
            color: red !important;
        }
    </style>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="~/index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>I</b>OT</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>IOT</b>Dashboard</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a
            href="#"
            class="sidebar-toggle"
            data-toggle="push-menu"
            role="button"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img
                src="~/3d.gif"
                class="img-circle"
                alt="User Image"
              />
            </div>
            <div class="pull-left info">
              <p>Quản trị viên</p>
            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Công cụ</li>   
            <li class="active">
              <a asp-action="Index">
                <i class="fa fa-table"></i> <span>Dữ liệu</span>
              </a>
            </li>
            <li>
              <a asp-action="Dashboard">
                <i class="fa fa-pie-chart"></i> <span>Biểu đồ</span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dữ liệu cảm biến
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a>
            </li>
            <li class="active">Dữ liệu</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
            <form asp-action="Filter" method="get">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Lọc dữ liệu</h3>
                  <div class="box-tools pull-right">
                    <button
                      type="button"
                      class="btn btn-box-tool"
                      data-widget="collapse"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-box-tool"
                      data-widget="remove"
                    >
                      <i class="fa fa-remove"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Trạng thái</label>
                        <select
                          class="form-control select2"
                          style="width: 100%"
                          name="Status"
                        >
                          <option selected="selected" value="all">
                            Tất cả
                          </option>
                          <option value="lie">Nằm</option>
                          <option value="sit">Ngồi</option>
                          <option value="walk">Đi bộ</option>
                          <option value="run">Chạy</option>
                        </select>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Thời gian:</label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                          </div>
                          <input
                            type="text"
                            class="form-control pull-right"
                            id="reservationtime"
                            name="DateSetted" />
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form-group -->
                    </div>
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <input type="submit" class="btn btn-primary" style="padding: 5px 5%" value="Lọc">
                </div>
              </div>
              </form>
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Dữ liệu</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                        <th>AverageAcc</th>
                        <th>AverageRo</th>
                        <th>AccSD</th>
                        <th>GyroSD</th>
                      </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.Time</td>
                                <td>@item.Status</td>
                                <td>@item?.ItemInfo?.AverageAcc</td>
                                <td>@item?.ItemInfo?.AverageRo</td>
                                <td>@item?.ItemInfo?.AccSD</td>
                                <td>@item?.ItemInfo?.GyroSD</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot></tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li>
            <a href="#control-sidebar-home-tab" data-toggle="tab"
              ><i class="fa fa-home"></i
            ></a>
          </li>
          <li>
            <a href="#control-sidebar-settings-tab" data-toggle="tab"
              ><i class="fa fa-gears"></i
            ></a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">
                      Langdon's Birthday
                    </h4>

                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-user bg-yellow"></i>

                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">
                      Frodo Updated His Profile
                    </h4>

                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">
                      Nora Joined Mailing List
                    </h4>

                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>

                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">
                      Cron Job 254 Executed
                    </h4>

                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>

                  <div class="progress progress-xxs">
                    <div
                      class="progress-bar progress-bar-danger"
                      style="width: 70%"
                    ></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>

                  <div class="progress progress-xxs">
                    <div
                      class="progress-bar progress-bar-success"
                      style="width: 95%"
                    ></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>

                  <div class="progress progress-xxs">
                    <div
                      class="progress-bar progress-bar-warning"
                      style="width: 50%"
                    ></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>

                  <div class="progress progress-xxs">
                    <div
                      class="progress-bar progress-bar-primary"
                      style="width: 68%"
                    ></div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->
          </div>
          <!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">
            Stats Tab Content
          </div>
          <!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked />
                </label>

                <p>Some information about this general settings option</p>
              </div>
              <!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked />
                </label>

                <p>Other sets of options are available</p>
              </div>
              <!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked />
                </label>

                <p>Allow the user to show his name in blog posts</p>
              </div>
              <!-- /.form-group -->

              <h3 class="control-sidebar-heading">Chat Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked />
                </label>
              </div>
              <!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right" />
                </label>
              </div>
              <!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript:void(0)" class="text-red pull-right"
                    ><i class="fa fa-trash-o"></i
                  ></a>
                </label>
              </div>
              <!-- /.form-group -->
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- date-range-picker -->
    <script src="~/bower_components/moment/min/moment.min.js"></script>
    <script src="~/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- SignalR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

    <!-- page script -->
    <script>
      $(function () {
        var table = $("#example2").DataTable({
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          info: true,
          autoWidth: false,
        });
        //Date range time picker
        $("#reservationtime").daterangepicker();
        
         // 1. Kết nối SignalR Hub
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chart")
            .build();

        // 2. Khởi động kết nối
        connection.start()
            .then(() => console.log("Connected to SignalR hub"))
            .catch(err => console.error("Connection failed: ", err));

        function convertDate(isoDate) {
            // Chuyển đổi chuỗi thời gian thành đối tượng Date
            const date = new Date(isoDate);

            // Định dạng ngày tháng năm
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Tháng (1-12)
            const day = String(date.getDate()).padStart(2, '0'); // Ngày
            const year = date.getFullYear(); // Năm

            // Định dạng giờ phút giây
            let hours = date.getUTCHours();
            const minutes = String(date.getMinutes()).padStart(2, '0'); // Phút
            const seconds = String(date.getSeconds()).padStart(2, '0'); // Giây

            // Xác định AM/PM
            const ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12; // Chuyển đổi sang định dạng 12 giờ
            hours = hours ? String(hours).padStart(2, '0') : '12'; // Nếu là 0, chuyển thành 12

            // Kết hợp thành chuỗi thời gian theo định dạng yêu cầu
            return `${month}/${day}/${year} ${hours}:${minutes}:${seconds} ${ampm}`;
        }

        // 3. Lắng nghe sự kiện từ server
        connection.on("UpdateChart", (data) => {
            if (data.trang_thai == "calculating") {
                return;
            }
            var row = table.row.add([
                convertDate(data.thoi_gian),
                data.trang_thai,
                data.gia_tri.averageAcc,
                data.gia_tri.averageRo,
                data.gia_tri.accSD,
                data.gia_tri.gyroSD
            ]).draw();
            if(data.trang_thai === '@(config.AlertLevel)'){
                var rowNode = row.node();
                $(rowNode).addClass("cl-r");
            }
        });
       
      });
    </script>
  </body>
  </html>